* {
    box-sizing: border-box;
}

:root {
    /* primary */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
/* neutral */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

img {
    max-width: 100%;
    border-radius: 50%;
}

body {
    height: 100vh;
    max-width: 1440px;
    background-image: 
      url(./images/bg-pattern-bottom-desktop.svg),
      url(./images/bg-pattern-top-desktop.svg);
    background-position: 
      top 100px left 300px,
      bottom 500px right 800px;
    background-repeat: no-repeat;
}



.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }